body{
    text-align: center;
    margin-top: 4rem;
    background-image: url("./images/F2qRmLhRnmebc8jJAUjr_GuessTheNumber@3x.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    & container{
        text-align: center;
    }
    }
#title{
    margin-bottom: 3rem;
    font-weight: bold;
}
        
    